*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/public/sitemap.xml
/public/google-news-sitemap.xml
/public/latest-news-sitemap.xml
/public/sitemaps/
/storage/*.key
/storage/pail
/storage/indexes/articles.index
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
